APP_NAME="Express Boiler"


# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

#Change Username and Password
DATABASE_URL="mysql://username:password@localhost:3306/express_prisma"
APP_PORT=3000

##Put your URL whitelist frontend
CORS_ORIGIN=http://localhost:5173 

JWT_ACCESS_SECRET=supersecretaccesstoken123
JWT_REFRESH_SECRET=supersecretrefreshtoken456

ACCESS_TOKEN_EXPIRE=1h
REFRESH_TOKEN_EXPIRE=7d

